h1 {
    font-size: 48px;
    text-align: center;
    font-family: "Sacramento", sans-serif;
}
 h2{
     text-align: center;
     font-family: "Sacramento", sans-serif;
     font-size: 36px;
 }

.navigation {

    list-style-type: none;
    font-size: 20px;
}

body{
    background-color: rgb(83, 131, 106);
}

footer{
    border: 2px;
    position: absolute;
    left: 0%;
    bottom: 0%;
    border-color: black;
    border-style: dotted;
    text-align: center;
    font-size: 25px;
    width: 100%;
    height:100px;
    padding-top: 10px;    
}
/* footer code works */

