<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
    <link href="https://fonts.googleapis.com/css2?family=Sacramento" rel="stylesheet">
    <title>Management of our animals</title>
</head>
<body>
    <header>
        <nav>
            <ul class="navigation">
                <li><a href="/">Home</a></li>
                <li> <a href="/new_client">Add new client</a></li>
                <li> <a href="/search">Search</a></li>

            </ul>
        </nav>
    </header>
    <!-- <h1>One app to rule them all</h1> -->

    {% block content %}

{% endblock %}
</body>

<footer>
    <p>Because all animals matter</p>
</footer>
</html>

