<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">  -->
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Sacramento" rel="stylesheet">
    <title>Management of our animals</title>
</head>
<body>
    <header>
        <nav>
            <div class="navigation">
                <li><a class ="active" href="/">Home</a></li>
                <li><a href="/new_client">Add new client</a></li>
                <li><a href="/search">Search Here</a></li>
                <li><a href="/all">View Them All</a></li>
<!-- make list type none and put them in one row  -->
            </ul>
        </nav>
    </header>
    <!-- <h1>One app to rule them all</h1> -->
<main>
{% block content %}

{% endblock %}
</main>

<!-- <div class="footer"> -->
    <footer class="footer">
     <div class="vetlogo"><img src="/static/images/vet_logo.png" alt="vet_logo"></div> 
    <p>Because all animals matter</p>
<!-- </div> -->
</footer>

</body>

</html>

<!-- <ul class="navigation">
    <li><a href="/">Home</a></li>
    <li> <a href="/new_client">Add new client</a></li>
    <li> <a href="/search">Search</a></li>
    <li> <a href="/all">View All clients</a></li> -->