{% extends "base.html" %} {% block content %} 

<h1>Add a new animal to the system</h1>

<form action="/new_client/save_new_client" method="post">
    <label for="animal">Name:</label>
    <textarea name="name" id="name" rows="1"></textarea>

    <label for="animal">DOB:</label>
    <textarea name="DOB" id="DOB" rows="1"></textarea>
    
    <label for="animal">Breed:</label> 
    <textarea name="breed" id="breed" rows="1"></textarea>
    
    <label for="animal">Treatments:</label> 
    <textarea name="treatments" id="treatments" rows="1"></textarea>
   
    <label for="owner">First name:</label>
    <textarea name="first_name" id="first_name" rows="1"></textarea>

    <label for="owner">Last Name:</label>
    <textarea name="last_name" id="last_name" rows="1"></textarea>

    <label for="owner">Phone number:</label> 
    <textarea name="number" id="number" rows="1"></textarea>


    <input class="btn btn--action" type='submit' value="submit">
  </form>




{% endblock %}
