{% extends "base.html" %} {% block content %}

<h2>Please find a list of all animals who belong to {{owner.first_name}} {{owner.last_name}}</h2>

    <h3>{{owner.first_name}} {{owner.last_name}}, Phone number {{owner.phone}} <h3>

    {% for animal in animals: %}
        <h3>{{animal.name}}, dob {{animal.dob}}, {{animal.species}}, {{animal.name}}'s treatments : {{animal.treatments}} <h3>
    {% endfor %}

    <form action="/search_action/update/{{owner.id}}" methods="post">
        <button type="submit" type="button">Update</button>
    </form>

    
    <form action="/delete/{{owner.id}}" methods="get">
        <button type="submit" type="button">Delete</button>
    </form>

      <!-- delete button does not lead to correct path yet, 404 error -->


{% endblock %}
